<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Tejal's personal site</title>
    <link rel="stylesheet" href="styles.css">
  </head>

  <body>
    <table>
      <td>    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSOArkOkXKAAr3eCkJzBZT7rCsgcKDzY8RJOMwRde1xSap2NydXCzabGqEca3qbV9dj-ss&usqp=CAU" alt="Tejal's profile pic" ></td>
      <td>    <h3>TEJAL TATIWAR</h3>
        <P><em>Student of <strong>SCOE</strong></em></P>
        <p><em>Hello,I am student of <Strong>SCOE</Strong>.Our college is located in <strong>Pune</strong>.You can visit our college website from following link:</em></p> 
        <a href="http://cms.sinhgad.edu/sinhgad_engineering_institutes/vadgaon_scoe/about.aspx">this is link</a>
    </td>
    </table>
    <hr>

    <h3>Education</h3>
    <ul>
      <li> passed 10th with 95% </li> 
      <li>12th with 90%</li>  
      <li>persuing second year of engineering</li>
    </ul> 


<table border="2">
  <thead>
    <tr>
      <th>year</th>
      <th>Education</th>
    </tr>
  </thead>
  <tbody>  
    <tr>
      <td>2018</td>
      <td>SSC</td>                
    </tr>
    <tr>
      <td>2020</td>
     <td>HSC</td>
    </tr>
</tbody>
</table>

<hr>
<a href="hobbies.html">My Hobbies</a>
<br>
<hr>
    
<hr>
<a href="contact_details.html">My contact</a>
<br>
<hr>

<h3>Skills</h3>
<table border="2">
  <tr>
    <td>
      <table cellspacing<% 10 %> >
        <tr>
          <td>Python</td>
          <td>★★★✩✩</td>
        </tr>
        <tr>
          <td>Java</td>
          <td>★★✩✩✩</td>
        </tr>
        <tr>
          <td>C++</td>
          <td>★✩✩✩✩</td>
        </tr>

        <td>    
          <tr>
            <td>Web development</td>
            <td>★✩✩✩✩</td>
          </tr>
          </td>
      </table>      
          
  <table cellspacing<% 10 %> >
    <td>
      <tr>
        <td>Sketching</td>
        <td>★★★✩✩</td>
      </tr>
      <tr>
        <td>Painting</td>
        <td>★★✩✩✩</td>
      </tr>
    </td>
  </table>

</td>
</table>


       </body>
</html>
